<div class="col-sm-3 filters-list">
    <header class="filters-header">Configuration</header>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-controller="Settings" asp-action="UserList">
                Users
            </a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Settings" asp-action="CompanyList">
                Companies
            </a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Settings" asp-action="GroupList">
                Groups
            </a>
        </li>
    </ul>
</div>