<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        Sure You want to delete this user?
    </div>
</div>
<div class="modal-footer">
    <form asp-action="UserDelete" method="post" style="display: inline">
        <input type="hidden" value="@ViewData["Id"]" name="id" />
        <div class="form-actions no-color" style="display: inline">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </form>
    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
</div>