@model Ticketer.Database.Company

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CompanyDeleteConfirm" data-target="#modal-container" data-toggle="modal" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="CompanyEdit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="CompanyList">Back to List</a>
</div>