<div class="row">
    @Html.Partial("_ConfigPanel")
    <div class="col-sm-7">
        <h3 class="tip">Here you can configure all features of your tickets management platform</h3>
    </div>
</div>
<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>